// SVG icons
@mixin svg-icon-size($width, $height) {
	width: 24px;
	height: 24px;
}

$color-svg-icon: #4691f6;


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: $color-svg-icon;
}

.svg-icon circle {
	stroke: #4691f6;
	stroke-width: 1;
}

@mixin full-page {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	@include full-page;
}

body {
	@include full-page;
	overflow-y: hidden;
	.nav-admin {
		position: fixed;
		width: 100%;
	}
	#wrapper {
		position: relative;
		min-height: calc(100% - 60px);
		.container-fluid {
			position: absolute;
			min-height: 100%;
			width: 100%;
			#admin-app {
				position: absolute;
				min-height: 100%;
				width: 100%;
				.sidebar {
					position: fixed;
					top: 60px;
					left: 0px;
					height: 100%;
					.sidebar-sticky {
						.nav-item {
							&:hover {
								background: #eef2d6!important;
							}
						}
					}
					.svg-icon {
						@include svg-icon-size(24px,24px);
					}
				}
				main {
					position: relative;
					top: 60px;
					right: 0px;
					overflow-y: auto;
					.container-fluid {
						position: absolute;
						left: 0px;
						top: 20px;
					}
				}
			}
		}
	}
}

#search-create {
	margin-bottom: 20px;
}

.button-create-new {
	float: right;	
	margin-bottom: 10px;
	button {
		font-size: larger;
		.svg-icon {
			@include svg-icon-size(24px,24px);
			path {
				fill: white;
			}
		}
	}
}

.table-responsive {
	table {
		width: 100%;
		.svg-icon {
			@include svg-icon-size(18px,18px);
		}
	}
}

// Modal
#modalCE {
	.modal-dialog {
		top: 60px;
	}
}

#confirm .modal-body button {
	width: 65px;
	margin: 10px 5px;
}

// Blog - Post
#create-and-edit-post {
	.upload-file {
		overflow: auto;
		img {
			float: left;
		}
		label, input {
			width: calc(100% - 110px);
			float: right;
		}
	}
}

#view-post .tags span {
	margin-right: 5px;
}

// Learn English
#audios {
	.table-responsive {
		// overflow-x: scroll;
		tbody tr td {
			img {
				width: 50px;
				padding: 5px;
			}
		}
	}
}

// Website Crawler
#crawler-tool {
	.card {
		.card-block {
			padding: 20px;
		}
	}
}

.modal-body {
	padding-left: 50px;
	padding-right: 50px;
}

nav {
	.profile-img img {
		height: 60px;
		width: 60px;
		padding: 8px;
		margin-left: 8px;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
	}
	a {

	}
}

.nav-select {
	background: #DDDDDD!important;
}

.submenu {
	display: none;
	position: absolute;
	top: 0px;
	left: 218px;
	z-index: 100;
	width: 223px;
	padding: 0px 15px;
	background: #DDDDDD	;
	.wrapper {
		position: relative;
		.title {
			color: #4d4c47;
			display: inline-block;
			font-size: 1.7rem;
			font-weight: 600;
			margin: 10px 20px;
		}
		.btn-close {
			position: absolute;
			right: 5px;
			top: 20px;
			.svg-icon {
				@include svg-icon-size(24px,24px);
				path {
					fill: #6c757d;
				}
				&:hover {
					path {
						fill: #4d4c47;
					}
				}
			}
		}
		.nav {
			.nav-item {
				&:hover {
					background: #aaaaaa!important;
				}
			}
		}
	}
}