// SVG icons
@mixin svg-icon-size($width, $height) {
	width: 24px;
	height: 24px;
}

$color-svg-icon: #4691f6;


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: $color-svg-icon;
}

.svg-icon circle {
	stroke: #4691f6;
	stroke-width: 1;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

nav {
	.profile-img img {
		height: 60px;
		width: 60px;
		padding: 8px;
		margin-left: 8px;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
	}
	a {

	}
}

.nav-select {
	background: #DDDDDD!important;
}

.sidebar .svg-icon {
	@include svg-icon-size(24px,24px);
}

.sidebar {
	position: relative;
	.sidebar-sticky {
		.nav-item {
			&:hover {
				background: #eef2d6!important;
			}
			.submenu {
				position: absolute;
				display: none;
				background: #DDDDDD	;
				top: 0px;
				left: 218px;
				z-index: 100;
				width: 223px;
				padding: 0px 15px;
				.submenu-title {
					color: #4d4c47;
					display: inline-block;
					font-size: 1.7rem;
					font-weight: 600;
					margin: 10px 20px;
				}
				.close-submenu {
					.svg-icon {
						@include svg-icon-size(24px,24px);
						path {
							fill: #6c757d;
						}
						&:hover {
							path {
								fill: #4d4c47;
							}
						}
					}
				}
				.nav-item {
					&:hover {
						background: #aaaaaa!important;
					}
				}
			}
		}
	}

}

.button-create-new {
	float: right;	
	margin-bottom: 10px;
	button {
		font-size: larger;
		.svg-icon {
			@include svg-icon-size(24px,24px);
			path {
				fill: white;
			}
		}
	}
}

.table-responsive {
	table {
		width: 100%;
		.svg-icon {
			@include svg-icon-size(18px,18px);
		}
	}
}

// Modal
#confirm .modal-body button {
	width: 65px;
	margin: 10px 5px;
}

// Blog - Post
#create-and-edit-post {
	.upload-file {
		overflow: auto;
		img {
			float: left;
		}
		label, input {
			width: calc(100% - 110px);
			float: right;
		}
	}
}

#view-post .tags span {
	margin-right: 5px;
}

// Learn English
#audios {
	.table-responsive {
		// overflow-x: scroll;
		tbody tr td {
			img {
				width: 50px;
				padding: 5px;
			}
		}
	}
}

.modal-body {
	padding-left: 50px;
	padding-right: 50px;
}