/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

@mixin svg-icon-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin avatar($size) {
    width: $size;
    height: $size;
}

@mixin full-page {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    @include full-page;
}

body {
    @include full-page;
    background-color: black;
}

%margin_bottom_0 {
    margin-bottom: 0px!important;
}

.navbar {
    @extend %margin_bottom_0;
}

.alert {
    @extend %margin_bottom_0;
}

#wrapper {
    position: relative;
    min-height: calc(100% - 72px);
}

#app {
    min-height: 522px;
    .main-app {
        min-height: 522px;
    }
    // color: white;
}

.btn-primary {
    background: #005A31;
    border: 0.5px solid #fff;
}

a:hover {
    text-decoration: none;
}

.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 30px;
}

.comment {
    margin-top: 30px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name > h4 {
    margin: 5px 0px;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
}

.comments-title {                                                                           
    margin-bottom: 45px;
}

.show-more-btn {
    margin-top: 50px;
    height: 40px;
    width: 142px;
    color: black;
    border: none;
    border-radius: 0px;
    &:hover {
        background-color: gray;
        color: white;
    }
    a {
        color: black;
    }
}

/* Page Home */
.welcome-blog {
    color: #DAE3D2;
    background-color: #434544;
    margin-bottom: 40px;
}

#navbar {
    border-radius: 0px!important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#footer {
    color: #DAE3D2;
    padding: 100px 0px 25px 0px;
    background-color: black;
    span {
        color: gray;
    }
    .contact {
        img {
            @include avatar(100px);
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
        .info {
            a {
                color: white;
            }
        }
    }
    .social-network {
        .svg-icon {
            @include svg-icon-size(36px,36px);
            path {
                fill: gray;
            }
        }
    }
}

/* Page Welcome */
#welcome {
    #introduce img {
        width: 100%;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }
    #posts {
        color: white;
        .post {
            margin-bottom: 40px;
            border: 0.5px solid gray;
            .image {
                display: flex;
                align-items: center;
                height: 362px;
                max-height: 362px;
                padding: 0px;
                img {
                    max-height: 362px;
                    float: left; 
                    margin-right: 10px;
                    width: 100%;
                }
            }
            .summary {
                height: 362px;
                max-height: 362px;
                padding: 40px 48px 37px;
                a .title {
                    font-family: 'Libre Baskerville', serif;
                    color: white;
                    &:hover {
                        color: #39CCCC;
                    }
                }
                .author {
                    clear: both;
                    height: 50px;
                    .avatar {
                        float: left;
                    }
                    .info {
                        position: relative;
                        float: left;
                        padding-left: 10px;
                        .name .svg-icon {
                            position: absolute;
                            top: 0px; 
                            left: 80px;
                            @include svg-icon-size(20px,20px);
                        }
                        .time span {
                            color: #DDDDDD;
                        }
                    }
                    img {
                        @include avatar(35px);
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                    }
                }
                .content {
                    overflow: hidden;
                    height: 168px;
                    h3 {
                        margin: 0px 0px 20px 0px;
                    }
                    span {
                        color: #DDDDDD;
                    }
                }
                .interactive {
                    width: 100%;
                    height: 67px;
                    margin: auto;
                    padding-top: 36px;
                    // border-top: 1px solid gray;
                    .line {
                        width: 100%;
                        height: 1px;
                        margin-bottom: 5px;
                        background-color: gray;
                    }
                    .views span {
                        color: #DDDDDD;
                    }
                    .comment {
                        margin-top: 0px;
                        a span {
                            &:hover {
                                color: #39CCCC;
                            }
                        }
                    }
                    .like .svg-icon {
                        float: right;
                        path {
                            fill: red
                        }
                    }
                }
            }
        }
    }
}

#blog-single {
    margin: 90px 90px 0px 90px;
    padding: 50px 100px 80px 100px;
    border: 0.5px solid gray;
    color: white;
}

/* Page Listen & Read */
#listen-read {
    margin-top: 80px;
    padding: 44px 69px 100px 69px;
    background-color: white;
    color: black;
    .nav-pills li {
        font-size: 18px;
        padding: 20px 15px 0 0;
        a {
            background-color: #499dc0;
            color: #fff;
            padding-bottom: 5px;
            padding-top: 5px;
            &:hover {
                background-color: #367690;
                color: #fff;
            }
        }
        .active {
            background-color: #e5e5e5;
            color: #222;
        }
    }
    .media-list {
        padding-left: 0;
        padding-right: 0;
        .media {
            color: #000;
            margin: 0;
            padding: 11px 15px;
            .pull-left {
                margin-right: 30px;
                padding-right: 0px;
                img {
                    width: 106px;
                    height: 81px;
                    border: 3px solid #e5e5e5;
                }
            }
            .media-body {
                h3 {
                    font-size: 18px;
                }
                time {
                    color: #707070;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

#media-single {
    margin-top: 80px;
    padding: 44px 69px 100px 69px;
    background-color: white;
    color: black;
    .program {
        header {
            time {
                color: #999;
                margin-bottom: 0;
            }
        }
        hr {
            margin-top: 0;
        }
        .row {
            #audio-player {
                border: 5px solid #e5e5e5;
                text-align: center;
            }
            .program-description {
                margin-bottom: 10px;
                .well {
                    position: relative;
                    p {
                        color: #222;
                        font-size: 18px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }
                .well-lg {
                    border-width: 5px;
                    border-radius: 0;
                    box-shadow: none;
                    padding: 15px 25px;
                }
            }
            .program-buttons {
                margin-left: -5px;
                margin-right: -5px;
                .btn-lg {
                    font-size: 18px;
                    padding: 14px 16px;
                    border-radius: 12px;
                    span {
                        font-size: 20px;
                        padding-right: 2px;
                    }
                }
            }
        }
        #transcript {
            h3 {
                color: #acacac;
            }
        }
    }
}

/* Page Info & Contact */
#info-contact {
    min-height: 522px;
    background-color: white;
    color: black;
    .image {
        img {
            width: 100%;
        }
    }
    .info {
        padding: 50px 0px 100px;
        text-align: center;
        .title {
            font-family: 'Libre Baskerville', serif;
            font-size: 80px;    
        }
        .about {
            text-align: center;
            font-family: 'IBM Plex Serif', serif;
            font-size: large;
            line-height: 1.7em;
        }
        .contact {
            .social-nw {
                ul {
                    display: flex;
                    max-width: 12%;
                    margin: 0 auto;
                    padding-left: 0;
                    margin-top: 80px;
                    align-items: center;
                    justify-content: space-around;
                    li {
                        list-style: none;
                        margin-right: 1.5em;
                        text-align: center;
                        .svg-icon {
                            @include svg-icon-size(30px,30px);
                        }
                    }
                }
            }
            .remind {
                margin: 30px;
                font-family: 'IBM Plex Serif', serif;
                font-size: large;
            }
            .form-contact {
                margin: auto;
                width: 520px;
                #group-name-email {
                    div {
                        display: flex;
                        #sender-name {
                            margin-right: 10px;
                        }
                    }
                }
                input {
                    border: 1px solid rgba(0, 0, 0, 1);
                    border-radius: 2px;
                }
                button[type="submit"] {
                    display: block;
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

/* Page Blog */
#blog-index {
    margin-top: 100px;
    .post {
        display: block;
        height: 454px;
        padding: 16px;
        .post-item {
            position: relative;
            display: inline-block;
            height: 421px;
            width: 100%;
            border-width: 0;
            .background {
                height: 421px;
                min-height: 421px;
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                a {
                    text-decoration: none;
                    .post-item-image {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        div {
                            background-size: cover;
                            background-position: 50%;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 100%;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                }
            }
            .post-item-wrapper {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,.45);
                padding: 32px 24px;
                color: #ffffff;
                box-shadow: none;
                .post-item-header {
                    font-size: 12px;
                    .post-item-author {
                        padding-bottom: 12px;
                        .name {
                            position: relative;
                            svg {
                                position: absolute;
                                top: -5px;
                                font-size: 24px;
                            }
                        }
                    }
                }
                a {
                    display: flex;
                    text-decoration: none;
                    color: #ffffff;
                    .title {
                        position: absolute;
                        bottom: 60px;
                        width: calc(100% - 2 * 24px);
                        margin-bottom: 18px;
                        font-size: 28px;
                        .title-font {
                            font: normal normal normal 24px/1.4em "josefin slab",serif;
                            line-height: normal;
                        }
                    }
                }
                .post-item-footer {
                    display: inline-block;
                    position: absolute;
                    bottom: 27px;
                    left: 24px;
                    right: 24px;
                    color: #ffffff;
                    .line {
                        width: 100%;
                        height: 1px;
                        margin-bottom: 12px;
                        background-color: #ffffff;
                    }
                    .row {
                        .views {
                            position: relative;
                            svg {
                                position: absolute;
                                top: -2px;
                                font-size: 24px;
                                path {
                                    fill: white;
                                }
                            }
                            span {
                                position: absolute;
                                left: 22px;
                            }
                        }
                        .comment {
                            margin-top: 0px;
                            a {
                                color: #ffffff;
                            }
                        }
                        .like {
                            position: relative;
                            svg {
                                position: absolute;
                                top: -2px;
                                font-size: 24px;
                                path {
                                    fill: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin form-profile {
    background: transparent;
    border: none;
    border-bottom: 1px solid #C2CACA;
    border-radius: 0;
    color: white;
    margin-bottom: 10px;
}

/* Page Account Info */
#account-info {
    background: url("/imgs/hands.jpg");
    background-size: 1308px auto;
    position: relative;
    height: 775px;
    background-color: 
    white; 
    .wrap {
        background-color: black;
        opacity: 0.6;
        position: absolute;
        top: 155px;
        left: 170px;
        width: 75%;
        height: 465px;
        margin: auto;
    }
    .content {
        position: absolute;
        top: 155px;
        left: 170px;
        width: 75%;
        height: 465px;
        padding: 20px 40px;
        color: white;
        h1 {
            text-align: center; 
            margin-bottom: 40px;
        }
        .avatar {
            text-align: center;
            img {
                margin: auto;
            }
            input {
                margin-top: 5px;
            }
            button {
                border-radius: 0;
                margin: 10px;
            }
            button[type="button"] {
                background-color: #2ECC71;
                &:hover {
                    background-color: #1D8348;
                    color: white;
                }
            }
        }
        .profile {
            input {
                @include form-profile;
            }
            select {
                @include form-profile;
                option {
                    color: black;
                }
            }
            .form {
                .button {
                    margin-top: 30px;
                    text-align: center;
                    button {
                        border-radius: 0;
                        margin: 10px;
                    }
                    button[type="submit"] {
                        background-color: #E67E22;
                        &:hover {
                            background-color: #CA6F1E;
                            color: white;
                        }
                    }
                    button[type="button"] {
                        background-color: #3498DB;
                        &:hover {
                            background-color:  #2980B9;
                            color: white;
                        }
                    }
                }
            }
        }
    }
} 

.online {
    border: 2px solid #2ecc71;
}

.offline {
    border: 2px solid #e74c3c;
}

@mixin contact-status {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
}
.contact-status-online {
    @include contact-status;
    background: #2ecc71;
}
.contact-status-busy {
    @include contact-status;
    background: #e74c3c;
}

#chat-room {
    height: 522px;
    display: flex;
    flex-direction: row;
    .sidepanel {
        position: relative;
        width: 340px;
        background-color: #2c3e50;
        color: white;
        #profile {
            // position: absolute;
            // top: 0px;
            // left: 0px;
            width: 80%;
            margin: 25px 34px;
            .wrap {
                display: flex;
                align-items: center;
                img {
                    width: 50px;
                    border-radius: 50%;
                    padding: 3px;
                    height: auto;
                    cursor: pointer;
                    transition: 0.3s border ease;
                }
                p {
                    width: calc(100% - 74px);
                    height: 100%;
                    margin-left: 15px;
                }
                .expand {
                    .svg-icon {
                        cursor: pointer;
                        @include svg-icon-size(24px,24px);
                    }
                }
            }
        }
        #expanded {
            // position: absolute;
            // top: 100px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0px 30px;
            .item {
                display: flex;
                margin-bottom: 10px;
                label {
                    .svg-icon {
                        @include svg-icon-size(24px,24px);
                    }
                }
                input {
                    width: calc(100% - 24px);
                    border: none;
                    margin-bottom: 6px;
                    background: #32465a;
                    border-radius: 3px;
                    color: #f5f5f5;
                    padding: 7px 7px 7px 15px;
                }
            }
        }
        #search {
            border-top: 1px solid #32465a;
            border-bottom: 1px solid #32465a;
            font-weight: 300;
            padding: 5px 10px;
            label {
                .svg-icon {
                    @include svg-icon-size(24px,24px);
                }   
            }
            input {
                font-family: "proxima-nova", "Source Sans Pro", sans-serif;
                padding: 10px 10px 10px 10px;
                width: calc(100% - 30px);
                border: none;
                background: #32465a;
                color: #f5f5f5;
            }
        }
        #contacts {
            height: calc(100% - 195px);
            overflow-y: hidden;
            overflow-x: hidden;
            ul {
                list-style: none;
                padding: 0;
                .contact {
                    position: relative;
                    padding: 10px 0 15px 0;
                    font-size: 0.9em;
                    cursor: pointer;
                    .wrap {
                        width: 88%;
                        margin: 0 auto;
                        position: relative;
                        img {
                            width: 40px;
                            border-radius: 50%;
                            float: left;
                            margin-right: 10px;
                        }
                        .meta {
                            padding: 5px 0 0 0;
                            .name {
                                font-weight: 600;
                            }
                            .preview {
                                margin: 5px 0 0 0;
                                padding: 0 0 1px;
                                font-weight: 400;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -moz-transition: 1s all ease;
                                -o-transition: 1s all ease;
                                -webkit-transition: 1s all ease;
                                transition: 1s all ease;
                            }
                        }
                    }
                }
            }
        }
        #bottom-bar {
            position: absolute;
            width: 100%;
            bottom: 0px;
            button {
                float: left;
                border: none;
                width: 50%;
                padding: 10px 0;
                background: #32465a;
                color: #f5f5f5;
                cursor: pointer;
                font-size: 0.95em;
                font-family: "proxima-nova", "Source Sans Pro", sans-serif;
                .svg-icon {
                    @include svg-icon-size(18px,18px);
                }
            }
            #addcontact {
                border-right: 1px solid #2c3e50;
            }
        }
    }
    .container-message {
        position: relative;
        width: calc(100% - 340px);
        background-color: #E5E8E8;
        .contact-profile {
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: #f5f5f5;
            padding-right: 10px;
            img {
                width: 40px;
                border-radius: 50%;
                float: left;
                margin: 9px 12px 0 9px;
            }
            p {
                float: left;
            }
            .social-media {
                float: right;
                .svg-icon {
                    @include svg-icon-size(24px,24px);
                }
            }
        }
        .messages {
            position: absolute;
            top: 60;
            height: calc(100% - 104px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: #E5E8E8;
            .message {
                display: inline-block;
                clear: both;
                float: left;
                margin: 15px 15px 5px 15px;
                width: calc(100% - 25px);
                font-size: 0.9em;
            }
            .sent {
                img {
                    margin: 6px 8px 0 0;
                    width: 26px;
                    border-radius: 50%;
                    float: left;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                p {
                    background: #435f7a;
                    color: #f5f5f5;
                    max-width: 300px;
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 20px;
                    line-height: 130%;
                }
            }
            .replies {
                img {
                    float: right;
                    margin: 6px 0 0 8px;
                    width: 26px;
                    border-radius: 50%;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                p {
                    background: #f5f5f5;
                    float: right;
                    max-width: 300px;
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 20px;
                    line-height: 130%;
                }
            }
            #fix-scroll {
                display: inline-block;
                width: 100%;
                height: 60px;
            }
        }
        .chat-composer {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 99;
            .wrap {
                position: relative;
                width: 100%;
                input {
                    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
                    float: left;
                    border: none;
                    width: calc(100% - 50px);
                    padding: 11px 32px 10px 8px;
                    font-size: 1em;
                    color: #32465a;
                    height: 100%;
                    border-radius: 0px;
                }
                button {
                    float: right;
                    border: none;
                    width: 50px;
                    padding: 12px 0;
                    cursor: pointer;
                    background: #32465a;
                    color: #f5f5f5;
                }
            }
        }
    }
}

#changePwModal .modal-body {
    margin: 20px 40px;
}                                                                                                                                                                                                                                                             

#modalLabel {
    float: left;
}

// Modal 
#signInUpModal {
    .modal-dialog {
        width: 480px;
        padding: 30px;
        .modal-content {
            padding: 15px;
            border-radius: 2px;
            .modal-header {
                padding-bottom: 0px!important;
                .tabs-list{
                    display: flex;
                    align-items: center;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    border-bottom: 1px solid #dbe3e8;
                    .tabs-item {
                        flex: 1;
                        text-align: center;
                    }
                }
            }
            .modal-body {
                .tab-content {
                    #login {
                        margin-top: 1.5rem!important;
                        a {
                            float: right;
                        }
                        .clearfix {
                            display: block;
                            content: "";
                            clear: both;
                            &:after {
                                box-sizing: inherit;
                            }
                        }
                        .divider {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            .dash {
                                flex: 1;
                                height: 1px;
                                background-color: #d6d6d7;
                            }
                            .dash-text {
                                padding-left: 8px;
                                padding-right: 8px;
                            }
                        }
                        .social-nw {
                            ul {
                                display: flex;
                                max-width: 50%;
                                margin: 0 auto;
                                padding-left: 0;
                                margin-top: 15px;
                                align-items: center;
                                justify-content: space-around;
                                li {
                                    list-style: none;
                                    margin-right: 1.5em;
                                    text-align: center;
                                    .svg-icon {
                                        @include svg-icon-size(24px,24px);
                                    }
                                }
                            }
                        }
                        },
                        #register {
                            margin-top: 1.5rem!important;
                            .divider {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 15px;
                                margin-bottom: 15px;
                                .dash {
                                    flex: 1;
                                    height: 1px;
                                    background-color: #d6d6d7;
                                }
                                .dash-text {
                                    padding-left: 8px;
                                    padding-right: 8px;
                                }
                            }
                            .social-nw {
                                ul {
                                    display: flex;
                                    max-width: 50%;
                                    margin: 0 auto;
                                    padding-left: 0;
                                    margin-top: 15px;
                                    align-items: center;
                                    justify-content: space-around;
                                    li {
                                        list-style: none;
                                        margin-right: 1.5em;
                                        text-align: center;
                                        .svg-icon {
                                            @include svg-icon-size(24px,24px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .auth-brand {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }